# OSX hidden files
.DS_Store

# Xcode files
build/

*.pbxuser
*.perspective
*.perspectivev3

xcuserdata

# Example www folder for iOS
example/ios/www/*
!example/ios/www/cordova-2.7.0.js

# Intelij files
.idea
